.bg-black {
    background-color: black;
}

div#content {
    min-height: 500px;
}

@font-face {
    font-family: 'roboto-bold';
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

header nav a {
    font-family: "roboto-bold";
    text-transform: uppercase;
    color: white !important;
}